.q-layout__section--marginal {
  background-color: var(--primary) !important;
  color: var(--font) !important;
}

body {
  background-color: var(--primary) !important;
}


.left-panel {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;

  [data-theme='light'] & {
    box-shadow: -7px 0px 22px rgba(0,0,0, 0.2);
    z-index: 200;
  }
}

.left-panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-darker-30);
  padding-top: 6px;
}

.left-panel-list {
  flex-grow: 1;
}

.left-panel-icon {
  font-size: 24px;
  color: var(--font);
}

.left-panel-icon.channel {
  font-size: 19.2px;
  color: var(--font);
}

.left-panel-icon.user {
  font-size: 28px;
  color: var(--font);
}

.left-panel-text {
  font-size: 16px;
  color: var(--font);
  font-weight: bold;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsed {
  flex-direction: column;
}

.user-item {
  display: flex;
  align-items: center;
}

.user-popup {
  background-color: var(--popup);
  color: var(--font);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-size: 15px;
  font-weight: bold;

  i {
    font-size: 18px;
  }

  .q-separator {
    background-color: var(--popup-separator);
    margin: 0 12px;
  }

  .q-item--active {
    color: var(--font);
    opacity: 0.8;
  }
}

.expand-item {
  display: flex;
  align-items: center;
}

.q-item__section--avatar {
  padding-right: 18px;
  min-width: auto;
}

#left-panel .q-item__section--avatar.expand-colapse {
  padding-right: 0;
  min-width: auto;
}

#left-panel .q-item .q-focus-helper {
  display: none;
}

#left-panel .q-item:hover .left-panel-icon,
#left-panel .q-item:hover .left-panel-text,
#left-panel .active-button .left-panel-icon,
#left-panel .active-button .left-panel-text {
  color: var(--font-hover);
}

.q-page-container {
  display: flex;
  flex-direction: row;
}

#list.q-page {
  background-color: var(--primary-darker-15);
  min-width: 350px;

  [data-theme='light'] & {
    box-shadow: -7px 0px 22px rgba(0,0,0, 0.2);
    z-index: 200;
  }
}

@media (max-width: 850px) {
  #list.q-page {
    width: 100%;
  }
}

#chat-page.q-page {
  background-color: var(--primary);
  width: 100%;
}

#chat-page {
  height: 1vh;
}

.q-input,
.q-select {
  * {
    color: var(--font) !important;
  }

  .q-field__control {
    background-color: var(--primary-lighter) !important;
    color: var(--font) !important;
  }

  &:focus-within .q-field__control {
    background-color: var(--primary-lighter) !important;
    box-shadow: none;
    color: var(--font) !important;
  }

  i {
    font-size: 20px;
  }
}

#list {
  padding: 8px 16px;
}

.chat-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px 14px 6px;

  .q-item {
    padding: 0;

    min-height: 0;
  }

  #left-panel .q-item .q-focus-helper {
    display: none;
  }

  .q-item:hover .chat-panel-icon,
  .q-item:focus .chat-panel-icon {
    color: var(--font-hover);
  }
}

.chat-panel-icon.edit {
  font-size: 20px;
  color: var(--font);
}

.chat-panel-text {
  font-size: 22px;
  color: var(--font);
  font-weight: bold;
}

.chat-item {
  padding: 6px 6px 14px 6px;
  display: flex;
  align-items: center;

  * {
    color: var(--font);
  }

  i {
    font-size: 38px;
  }

  .chat-item-content {
    width: auto;
  }

  .chat-name {
    font-weight: bold;
    padding-bottom: 5px;
  }

  .chat-message {
    font-weight: regular;
    font-size: 12px;
  }

  .hover-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .hover-icon i {
    font-size: 18px;
  }
}

.chat-container {
  height: 100%;
  width: auto;
  color: var(--font);
}

.chat-header {
  height: 65px;
  width: 100%;
  background-color: var(--primary-darker-10);
  display: flex;
  flex-direction: row;
  align-items: center;

  [data-theme='light'] & {
    box-shadow: 0px -7px 22px rgba(0,0,0, 0.2);
  }

  .chat-header-info {
    i {
      font-size: 38px;
    }

    .chat-header-active-status {
      font-size: 12px;
    }

    .chat-header-chat-name {
      font-weight: bold;
    }
  }
}

.chat-content {
  height: calc(100% - 130px);
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px 14px 20px;
  overflow-y: scroll;
  overflow-anchor: none;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  height: auto;
}

.messages.outgoing {
  align-items: flex-end;
}


.chat-bubble-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 14px;

  align-items: flex-end;

  .bubble.text-message {
    border-radius: 28px;
    padding: 8px 12px 7.8px 12px;
    max-width: 500px;
    margin-bottom: 4px;
    overflow-wrap: break-word;

    width: fit-content;

    @media (min-height: 40px) {
      padding: 8px 12px 7.8px 12px;
      border-radius: 20px;
    }
  }

  .bubble.image-message {
    border-radius: 28px;
    padding: 0;
    max-width: 500px;
    margin-bottom: 4px;

    @media (min-height: 40px) {
      border-radius: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .bubble.image-message {
    max-width: 300px;
  }

  .bubble.text-message {
    max-width: 300px;
  }
}

.chat-bubble-row.incoming {
  padding-right: 250px;

  .bubble.text-message {
    background: var(--chat-bubble-incoming);
  }

  .bubble.image-message {
    background-color: none;
  }
}

.chat-bubble-row.outgoing {
  justify-content: flex-end;
  padding-left: 250px;
  color: var(--font);

  .bubble.text-message {
    background-image: var(--chat-bubble-outgoing);
    color: var(--font-white) !important;

  }

  .bubble.image-message {
    background-color: none;

    img {
      border-radius: 20px;
    }
  }
}


@media (max-width: 500px) {
  .bubble.image-message {
    max-width: 400px;
  }

  .bubble.text-message {
    max-width: 400px;
  }

  .chat-bubble-row.outgoing {
    padding-left: 100px;
  }

  .chat-bubble-row.incoming {
    padding-right: 100px;
  }
}


.typing-indicator {
  cursor: pointer;
}

.chat-bubble-row.incoming .bubble.text-message.typing-indicator:hover {
  background: var(--is-typing-hover);
}


.profile-picture {
  font-size: 24px;
  margin: 0 8px 6px 0;
}

.sender {
  margin: 0 0 2px 10px;
  font-size: 12px;
}

.chat-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

.chat-footer {
  height: 65px;
  width: 100%;
  background-color: var(--primary-darker-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 18px;

  [data-theme='light'] & {
    box-shadow: 0px 7px 22px rgba(0,0,0, 0.2);
  }

  .text-bar {
    height: 40px;
    width: 100%;
  }

  .photos {
    font-size: 26px;
    padding: 0 18px 0 0;
    cursor: pointer;
  }

  .send {
    font-size: 16px;
    padding: 0 6px 0 18px;
    cursor: pointer;

    .q-focus-helper {
      display: none;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
