body {
  background-color: $primary;
}

.left-panel {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $primary-darker-30;
  padding-top: 6px;
}

.left-panel-list {
  flex-grow: 1;
}

.left-panel-icon {
  font-size: 24px;
  color: $font;
}

.left-panel-icon.channel {
  font-size: 19.2px;
  color: $font;
}

.left-panel-icon.user {
  font-size: 28px;
  color: $font;
}

.left-panel-text {
  font-size: 16px;
  color: $font;
  font-weight: bold;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsed {
  flex-direction: column;
}

.user-item {
  display: flex;
  align-items: center;
}

.user-popup {
  background-color: $popup;
  color: $font;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-size: 15px;
  font-weight: bold;

  i {
    font-size: 18px;
  }

  .q-separator {
    background-color: $popup-separator;
    margin: 0 12px;
  }
}

.expand-item {
  display: flex;
  align-items: center;
}

.q-item__section--avatar {
  padding-right: 18px;
  min-width: auto;
}

#left-panel .q-item__section--avatar.expand-colapse {
  padding-right: 0;
  min-width: auto;
}

#left-panel .q-item .q-focus-helper {
  display: none;
}

#left-panel .q-item:hover .left-panel-icon,
#left-panel .q-item:hover .left-panel-text,
#left-panel .active-button .left-panel-icon,
#left-panel .active-button .left-panel-text {
  color: $font-hover;
}

.q-page-container {
  display: flex;
  flex-direction: row;
}

#list.q-page {
  background-color: $primary-darker-15;
  min-width: 350px;
}

#chat-page.q-page {
  background-color: $primary;
  width: 100%;
}

.q-input, .q-select {
  * {
    color: $font !important;
  }

  .q-field__control {
    background-color: $primary-lighter;
  }

  &:focus-within .q-field__control {
    background-color: $primary-lighter;
    box-shadow: none;
  }

  i {
    font-size: 20px;
  }
}

#list {
  padding: 8px 16px;
}

.chat-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px 14px 6px;

  .q-item {
    padding: 0;

    min-height: 0;
  }

  #left-panel .q-item .q-focus-helper {
    display: none;
  }

  .q-item:hover .chat-panel-icon,
  .q-item:focus .chat-panel-icon {
    color: $font-hover;
  }
}

.chat-panel-icon.edit {
  font-size: 20px;
  color: $font;
}

.chat-panel-text {
  font-size: 22px;
  color: $font;
  font-weight: bold;
}

.chat-item {
  padding: 6px 6px 14px 6px;
  display: flex;
  align-items: center;

  * {
    color: $font;
  }

  i {
    font-size: 38px;
  }

  .chat-item-content {
    width: auto;
  }

  .chat-name {
    font-weight: bold;
    padding-bottom: 5px;
  }

  .chat-message {
    font-weight: regular;
    font-size: 12px;
  }

  .hover-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .hover-icon i {
    font-size: 18px;
  }
}

.chat-container {
  height: 100%;
  width: auto;
  color: $font;
}

.chat-header {
  height: 65px;
  width: 100%;
  background-color: $primary-darker-10;
  display: flex;
  flex-direction: row;
  align-items: center;

  .chat-header-info {
    i {
      font-size: 38px;
    }

    .chat-header-active-status {
      font-size: 12px;
    }

    .chat-header-chat-name {
      font-weight: bold;
    }
  }
}

.chat-content {
  height: calc(100% - 130px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 14px 20px;
}

.chat-bubble-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: auto;
  padding-top: 14px;

  .bubble {
    border-radius: 28px;
    padding: 8px 12px 7.8px 12px;
    max-width: 500px;
    margin-bottom: 4px;

    @media (min-height: 40px) {
      padding: 8px 12px 7.8px 12px;
      border-radius: 20px;
    }
  }
}

.chat-bubble-row.incoming {
  align-items: flex-start;
  padding-right: 250px;

  .bubble {
    background-color: $chat-bubble-incoming;
  }
}

.chat-bubble-row.outgoing {
  align-items: flex-end;
  padding-left: 250px;

  .bubble {
    background-image: $chat-bubble-outgoing;
  }
}

.chat-footer {
  height: 65px;
  width: 100%;
  background-color: $primary-darker-10;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 18px;

  .text-bar {
    height: 40px;
    width: 100%;
  }

  .photos {
    font-size: 26px;
    padding: 0 18px 0 0;
  }

  .send {
    font-size: 26px;
    padding: 0 6px 0 18px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
