.left-panel {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $primary-darker-30;
}

.left-panel-list {
  flex-grow: 1;
}

.left-panel-icon {
  font-size: 24px;
  color: $font;
}

.left-panel-icon.channel {
  font-size: 19.2px;
  color: $font;
}

.left-panel-icon.user {
  font-size: 28px;
  color: $font;
}

.left-panel-text {
  font-size: 16px;
  color: $font;
  font-weight: bold;
}

.q-page-container {
  background-color: $primary;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsed {
  flex-direction: column; /* Stack items vertically when collapsed */
}

.user-item {
  display: flex;
  align-items: center;
}

.expand-item {
  display: flex;
  align-items: center;
}

.q-item__section--avatar {
  padding-right: 18px;
  min-width: auto;
}

#left-panel .q-item__section--avatar.expand-colapse {
  padding-right: 0;
  min-width: auto;
}

#left-panel .q-item .q-focus-helper {
  display: none;
}

#left-panel .q-item:hover .left-panel-icon,
#left-panel .q-item:hover .left-panel-text,
#left-panel .q-item:focus .left-panel-icon,
#left-panel .q-item:focus .left-panel-text {
  color: $font-hover;
}




